#-------------openssl.cnf----------------
[ req ]
default_bits = 2048 # Size of keys
default_keyfile = key.pem # name of generated keys
default_md = sha256 # message digest algorithm
string_mask = nombstr # permitted characters
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
# The following fields are used for prompting the user
# when NOT in batch mode. You can leave them as-is
# Variable name   Prompt string
0.organizationName = Organization Name (company)
organizationalUnitName = Organizational Unit Name (department, division)
emailAddress = Email Address
emailAddress_max = 40
localityName = Locality Name (city, district)
stateOrProvinceName = State or Province Name (full name)
countryName = Country Name (2 letter code)
countryName_min = 2
countryName_max = 2
commonName = Common Name (hostname, IP, or your name)
commonName_max = 64

# The following "defaults" are used in batch mode. 
emailAddress_default    = # Your email address here
countryName_default     = US
stateOrProvinceName_default = Maryland
localityName_default        = Baltimore
0.organizationName_default  = EN600424
organizationalUnitName_default  = PETF
companyName_default             = # Your student or company name here

#---- If Using Playground BLOCKs, No Need for this ----
#commonName_default          = filled in by script#

[ playground ]
BLOCK1 = 20164
BLOCK2 = 0
BLOCK3 = 0
